{% from "macros.html" import nav_link with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} &#128008;</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='dist/bootstrap/bootstrap.min.css') }}"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel='shortcut icon' href='{{ url_for('static', filename='favicon.ico') }}' type='image/x-icon'>

    {% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">UDC Catgur <i class="fa fa-paw" aria-hidden="true"></i></a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        {% if 'username' not in session %}

          {{ nav_link('showCats', 'Cats') }}

          <li class="nav-link"><a href="{{ url_for('showLogin')}}">Login <i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>

        {% else %}

          {{ nav_link('showCats', 'Cats') }}
          {{ nav_link('newCat', 'Add Cat') }}
          {{ nav_link('userProfile', 'My Profile') }}

          <li class="nav-link"><a href="{{ url_for('disconnect')}}">Logout <i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>

        {% endif %}


        </ul>
      </div>
    </nav>



    <div id="content" class="container">
      <div class="main-content">
      {% block content %}{% endblock %}
      </div>
    </div>

    <footer class="footer">
      {% block footer %}
      <div class="container">
          <div class="right">
            &copy; {{ now.year }} by
            <a class="white-text " href="{{ url }}" target="_blank">
              {{ url }}
            </a>
          </div>
      </div>
      {% endblock %}
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous">
    </script>


    <!-- <script src="//cloud.tinymce.com/stable/tinymce.min.js?apiKey=bkfar8pz02kr9bhna7ww1z6aikkz51ede4o3p169a93cyz7w"></script> -->
    <!-- <script src="{{ url_for('static', filename='dist/bootstrap/bootstrap.min.js') }}"></script> -->

    <script src="{{ url_for('static', filename='custom.js') }}"></script>


  </body>
</html>
